img {
  &.icon {
    max-height: 25px;
    border-radius: 100%;
  }

  &.border-rectangle {
    border: 1px solid black;
    padding: 0px;
  }
}

.project {
  img {
    border-radius: 100%;
  }
}

.breadcrumb {
  .icon {
    max-height: 15px;
  }
}
