/* image align center */
.theme-hope-content:not(.custom) {
  cap {
    display: block;
    text-align: center;
  }

  .align-center {
    text-align: center;

    img {
      display: block;
      margin: auto;
    }
  }
}
